body{
	background-color:#EEEEEE;
	font-family: 'Patrick Hand', cursive;
}
hr {
	border-color:#398AB9;
	border-style: dotted none none;
	width:3%;
	border-width: 10px;
	font-family: 'Patrick Hand', cursive;
}
h1 {
  color: #1C658C;
	font-family: 'Patrick Hand', cursive;
}
h2 {
  color: #1C658C;
	font-family: 'Patrick Hand', cursive;
}
h3 {
  color: #1C658C;
	font-family: 'Patrick Hand', cursive;
}
h4 {
  color: #1C658C;
	font-family: 'Patrick Hand', cursive;
}
